    #pager
    center
        ul.pageNav01s
            range $p := $.pager.Links
                li
                    {{ if eq $p.Number $.pager.Page }}
                    span {{$p.Label}}
                    {{ else }}
                    a(href='{{$p.Href}}') {{$p.Label}}
                    {{ end }}

        span(style='float:right;margin:5px;') 全 {{$.total_count}} 件
