ul#listmenu
    div
        strong Dashboard
        div(style='padding:0px 10px 0px 20px;')
            {{ if eq $.controllerName "dashboard" }}
            li.rad.bg-blue
                span Dashboard
            {{ else }}
            a(href='/admin/dashboard/')
                li.rad Dashboard
            {{ end }}

    div
        strong 管理画面
        div(style='padding:0px 10px 0px 20px;')

            {{ if eq $.controllerName "user" }}
            li.rad.bg-blue
                span User
            {{ else }}
            a(href='/admin/user/') 
                li.rad User
            {{ end }}

            {{ if eq $.controllerName "organization" }}
            li.rad.bg-blue
                span Organization
            {{ else }}
            a(href='/admin/organization/')
                li.rad Organization
            {{ end }}

            {{ if eq $.controllerName "report" }}
            li.rad.bg-blue
                span Report
            {{ else }}
            a(href='/admin/report/') 
                li.rad Report
            {{ end }}

            {{ if eq $.controllerName "phrase" }}
            li.rad.bg-blue
                span Phrase
            {{ else }}
            a(href='/admin/phrase/') 
                li.rad Phrase
            {{ end }}
