extend

block content

    .mui-panel
        span ああ

    .mui-panel

        h2 user

        div {{ $.user }}

        h2 organization

        div {{ $.organization }}

        div 
            range $i, $user := $.organization.Users
                h3 {{ $i }}

                div {{ $user }}
