ul#listmenu
    li
        strong Dashboard
        ul
            li
                a(href='/admin/dashboard') Dashboard

    li
        strong 管理画面
        ul
            li
                a(href='/admin/user/') User
            li
                a(href='/admin/organization/') Organization
