extends layout.jade

block content


  .mui-panel
        
    a(href='/admin/{{ $.controllerName }}/edit/{{.instance.ID}}') 編集
    hr(style='clear:both')

    table
            tr
                th
                    span {{ $.controllerName }}ID：
                td
                    span {{.instance.ID}}
            tr
                th
                    span 名前：
                td
                    span {{.instance.Name}}

