extend

block content

  .mui-panel

    div(style='padding-left:5px')
        a(href='/admin/{{ $.controllerName }}/new') 新規登録
    hr(style='clear:both')

    form(method='GET')
        table(class="mui-table mui-table--bordered")
            tr
                td 
                    b 名前
                td
                    {{ $.instance.TextField "Name" }}
            tr
                td 
                    b Email
                td
                    {{ $.instance.TextField "Email" }}
            tr
                td 
                    b 組織
                td
                    {{ $.instance.SelectField "OrganizationID" $.instance.OrganizationOptions }}
            tr
                td 
                    b 初期パスワードのみ
                td
                    {{ $.instance.CheckboxField "IsInitialPassword" }}
            tr
                td(colspan=2)
                    div(style='float:right')
                        input(type='submit', value='検索する',  class="mui-btn mui-btn--primary")



  .mui-panel
    {{ include "admin/_pager"}}
    table(class="mui-table mui-table--bordered")
        thead
            tr
                th ID
                th 組織
                th Name
                th Email
                th 登録時刻
                th
        tbody

            range $instance := $.instances
                    tr
                        td  {{$instance.ID}}
                        td
                            a(href='/admin/organization/show/{{$instance.OrganizationID}}') 
                               {{$instance.OrganizationID }}
                        td
                            span {{$instance.Name}}
                        td
                            span {{$instance.Email}}
                        td {{$instance.CreatedAt | FormatJST }}
                        td 
                            a(href='/admin/{{ $.controllerName }}/show/{{$instance.ID}}') 
                                i(class="fa fa-chevron-right", aria-hidden="true", style='width:100%')
    {{ include "admin/_pager"}}
